body {
  background-color: teal;
  font-family: sans-serif;
}
.header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: none rgb(1, 1, 1);
}
li {
  margin-left: 100px;
  margin-top: 20px;
  display: inline-block;
  list-style: none;
  float: right;
}
button {
  text-decoration-color: teal;
  size: 40px;
  font-size: 20px;
  border-radius: 10px;
}
button a {
  color: teal;
}

.introduction {
  margin-top: 150px;
  text-align: center;
  color: white;
}

.header h1 {
  color: white;
}

.introduction h1 {
  font-size: 50px;
}
.introduction strong {
  color: black;
}
